<label [for]="id()">{{ label() }} @if (required()) { <span aria-hidden="true">*</span><span class="sr-only">required</span> }</label>
<div class="control" [class.has-icon]="kind() !== 'text'">
  @if (kind() === 'select') {
    <p-select [inputId]="id()" [ariaLabel]="label()" [options]="selectOptions()" [ngModel]="value()" [fluid]="true" />
  } @else if (kind() === 'date') {
    <p-date-picker [inputId]="id()" [ariaLabel]="label()" [dateFormat]="'mm/dd/yy'" [ngModel]="dateValue()" [showIcon]="true" [fluid]="true" [appendTo]="'body'" />
  } @else {
    <input pInputText [id]="id()" [value]="value()" [attr.aria-required]="required()" />
  }
</div>
